<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	RewriteBase /
	RewriteRule ^index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.html [L]
</IfModule>

<FilesMatch "\.(?i:gif|jpe?g|png|webp|svg|ico|css|js)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public, must-revalidate"
  </IfModule>
</FilesMatch>
